
<body data-0="background: radial-gradient(circle, rgb(250,155,40), rgb(250,230,30), rgb(250,155,40));" data-140="background: radial-gradient(circle, rgb(250,230,30), rgb(250,155,40), rgb(250,230,30));" >

<div class="container logo_container" style="position:relative; top:200px;">
  <div class="col-sm-4 col-sm-offset-2">
    <%= image_tag "yb_logo_raw.png", :id => "logo_splash"%>
  </div>
</div>
<div class="container" id="about_button">
  <div class="row">
      <button type="button" class="btn btn-default navbar-btn yb_button">About</button>
    </div>
    </div>
</div>


<div class="container-fluid" id="about_container" >
  <div class="row">
    <h2>ABOUT YARNBOMB</h2><br>
    <p>YarmBomb is the ease-to-use inventory app that yarn enthusiasts across the world have been waiting for. <br>YarnBomb operates on a simple 3-step process: </p>
    <br><br>
  </div>
  <div class="row">
    <div class="col-sm-4 about_steps">
        Step 1: Add Yarn (with descriptive info including weight, color, gauge, number of skeins, and yardage per skein)
    </div>
    <div class="col-sm-4 about_steps">
      Step 2: Create a Project
    </div>
    <div class="col-sm-4 about_steps">
      Step 3: Add Yarns to the Project
      Thats all there is too it! YarnBomb helps you manage your yarn inventory across multiple projects, ensuring that you never run out of yarn the night before an item is due to ship (what a nightmare)!  
    </div>
  </div>
</div>

<script type="text/javascript">
  var s = skrollr.init();
</script>
</body>