
<div class="container" id="logo_container">
  <div class="col-sm-4 col-sm-offset-2">
    <%= image_tag "yb_logo_raw.png", :id => "logo_splash"%>
  </div>
</div>
<div class="container" id="about_button">
      <button type="button" class="btn btn-default navbar-btn yb_button">About</button>
</div>


