<%= stylesheet_link_tag "tutorial.css" %>
<%= javascript_include_tag "tutorial.js" %>
<div class="container">
  <div class="row" id="thanks_banner">
    <div id="thanks_inside">
    <h2>
      Thanks for Registering!
    </h2>
  </div>
  </div>
  <div class="row" id="getstart_banner" >
    <h3 id="getstart_inside">Let's get started, shall we?</h3>
    <%= image_tag "arrowright.png", :class => 'next_tutorial_icon', :id => 'step_1_arrow'%>
  </div>
  </div>
</div>






