/* ...
*= require_self
*= require_tree .
*/

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain;
    background: radial-gradient(circle, rgb(250,155,40), rgb(250,230,30), rgb(250,155,40));
}

#navnav {
  background:none;
}

.yb_button {
  background-image: none !important;
  background-color: rgba(110,70,45,0.6) !important;
  color: white !important;
  text-shadow: none !important;
}

.yb_button > a {
  color: white !important;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-weight: bold;
  font-size: 1.5em;
}

#navbar_logo {
  width: 50px;
  height: auto;
}



.flash{

  -moz-animation: flash 2s ease-out;
  -moz-animation-iteration-count: 1;

  -webkit-animation: flash 2s ease-out;
  -webkit-animation-iteration-count: 1;

  -ms-animation: flash 2s ease-out;
  -ms-animation-iteration-count: 1;

}

@-webkit-keyframes flash {
    0% { background-color:none;}
    50% { background-color:#fbf8b2;}        
    100% {background-color:none;}
}

@-moz-keyframes flash {
    0% { background-color:none;}
    50% { background-color:#fbf8b2;}        
    100% {background-color:none;}
}

@-ms-keyframes flash {
    0% { background-color:none;}
    50% { background-color:#fbf8b2;}        
    100% {background-color:none;}
}




