/* ...
*= require_self
*= require_tree .
*/

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain;
    background: radial-gradient(circle, rgb(250,155,40), rgb(250,230,30), rgb(250,155,40));
}

#navnav {
  background:none;
}

.yb_button {
  background-image: none !important;
  background-color: rgba(110,70,45,0.6) !important;
  color: white !important;
  text-shadow: none !important;
}

.yb_button > a {
  color: white !important;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-weight: bold;
  font-size: 1.5em;
}

#navbar_logo {
  width: 50px;
  height: auto;
}

#user_button {
  position: relative;
  top: 9px;
  height: 40px;
  left: -10%;
}

#logged_in_as {
  position: relative;
  left: -5%;
  top: 6px;
}

#sign_in_success {
  position: absolute;
  left: 42%;
  top: -10px;
}

#sign_in_fail {
  position: absolute;
  left: 42%;
  top: -10px;
}



#user_dropdown {
  position: absolute;
  left: 26%;
  top: 50px;
  width: 1%;
  background-color: rgba(110,70,45,0.4);
  border: 1px solid white;
  min-width: 120px !important;
  float: none !important;
  z-index: 10000000000;
}
#user_dropdown > li {
  width: 90%;
  margin: auto;
  text-align: right;
  margin-bottom: 10px;
}

#user_dropdown:hover {
  background-color: rgba(110,70,45,0.6);
}

#user_dropdown > li:hover {
  background-color: rgba(250,155,40,0.8) !important;
  background-image: none;
  border-radius: 5px; 
}

#user_dropdown > li > a {
  color: white;
  background-image: none !important;
  padding-right: 5px;
}

#user_dropdown > li > a:hover {
  background-color: transparent !important;
}

.flash{

  -moz-animation: flash 2s ease-out;
  -moz-animation-iteration-count: 1;

  -webkit-animation: flash 2s ease-out;
  -webkit-animation-iteration-count: 1;

  -ms-animation: flash 2s ease-out;
  -ms-animation-iteration-count: 1;

}

@-webkit-keyframes flash {
    0% { background-color:none;}
    50% { background-color:#fbf8b2;}        
    100% {background-color:none;}
}

@-moz-keyframes flash {
    0% { background-color:none;}
    50% { background-color:#fbf8b2;}        
    100% {background-color:none;}
}

@-ms-keyframes flash {
    0% { background-color:none;}
    50% { background-color:#fbf8b2;}        
    100% {background-color:none;}
}




