/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/


#logo_splash {
  margin: auto;
  opacity: 0;
}


#about_button {
  text-align: center;
  position: relative;
  top: 250px;
  opacity: 0;
}

#about_container {
  text-align: center;
  opacity:1;
  position: relative;
  top: -50px;
}


.about_steps {
  text-align: center;
  border: 3px solid red;
  border-radius: 15px;
  width: 25%;
  margin-left: 6.2%;
}