/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

/*SCENE I : BEGIN*/

#logo_splash {
  margin: auto;
  opacity: 0;
}

#about_button {
  text-align: center;
  position: relative;
  top: 250px;
  opacity: 0;
  z-index: 100;
}


/*SCENE II : BEGIN*/

#about_container {
  text-align: center;
  position: relative;
  top: -130px;
}

#about_subtext {
  font-size: 2em;
  opacity: 0;
}

.about_steps {
  text-align: center;
  border: 2px dashed rgb(110,70,45);
  border-radius: 15px;
  width: 25%;
  height: 360px;
  margin-left: 6.1%;
  padding-top: 1px;
  padding-bottom: 5px;
  font-size: 1.5em;
}

.step_text {
  font-size: 1em;
}

#about_step1 {
  opacity: 0;
}

#step1_pic {
  width: 200px; height: 200px;
  float: right;
  margin-left:2rem; 
  border-radius: 50%;
  -webkit-shape-outside:circle();
  shape-outside:circle();
}

#step1_text {
  text-align: right;
}

#about_step2 {
  opacity: 0;
}

#step2_pic {
  width: 150px;
  height: 150px;
}

#step2_text {
  text-align: center;
}

#about_step3 {
  opacity: 0;
}

#step3_pic {
  width: 200px; height: 200px;
  float: left;
  margin-right:2rem; 
  border-radius: 50%;
  -webkit-shape-outside:circle();
  shape-outside:circle();
}

#step3_text {
  text-align: left;
}

#about_footer {
  opacity: 0;
  margin-left: 10px;
  margin-right: 10px;
}