/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/


#logo_splash {
  margin: auto;
  opacity: 0;
}


#about_button {
  text-align: center;
  position: relative;
  top: 250px;
  opacity: 0;
  z-index: 100;
}

#about_container {
  text-align: center;
  opacity:0;
  position: relative;
  top: -130px;
}

#about_title {
  font-size: 3em;
}

#about_subtext {
  font-size: 2em;
}

.about_steps {
  text-align: center;
  border: 3px solid red;
  border-radius: 15px;
  width: 30%;
  height: 322px;
  margin-left: 3%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.5em;
}

.step_text {
  font-size: 1em;
}

#step1_pic {
  width: 200px; height: 200px;
  float: left;
  margin-right:2rem; 
  border-radius: 50%;
  -webkit-shape-outside:circle();
  shape-outside:circle();
  border: 2px dashed blue;
}

#step1_text {
  text-align: left;
}

#step2_pic {
  width: 150px;
  height: 150px;
}

#step2_text {
  text-align: center;
}


#step3_pic {
  width: 200px; height: 200px;
  float: right;
  margin-left:2rem; 
  border-radius: 50%;
  -webkit-shape-outside:circle();
  shape-outside:circle();
  border: 2px dashed blue;
}

#step3_text {
  text-align: right;
  font-size: 1em;
}