body {
  position: relative;
  top: 150px;
}

#privacy_statement {
  opacity: 0;
  position: relative;
  top: -160px;
  left: 11%;
  z-index: -100;
  border: 1px dashed red;
}

#lockdiv {
  position: relative;
  left: 31%;
  top: 20px;
  z-index: 100;
}

#lock-top-row {

}


#lock-top-pic {
  width: 200px;
  height: auto;
  position: relative;
}


#lock-bottom-row {
}

#lock-bottom-pic {
  width: 200px;
  height: auto;
  position: relative;
}