body {
  position: relative;
  top: 150px;
}

#privacy_statement {
  visibility: hidden;
}


#lock-top-row {

}

#lock-pic {
  margin: 20px;
  padding: 20px;
  width: 250px;
  position: relative;
  left: 28%;
  border: 1px solid red;

}


#lock-top-pic {
  width: 200px;
  height: auto;
}


#lock-bottom-row {
}

#lock-bottom-pic {
  width: 200px;
  height: auto;
}