.nav_locate_icon {
  width: 50px;
  height: auto;
  float: right;
  position: relative;
  opacity: 0;
  top: -24px;
  left: 46%;

}

#yarn_nav_locate_icon {

}

#proj_nav_locate_icon {

}

#report_nav_locate_icon {
}


.next_tutorial_icon {
  width: 120px;
  height: auto;

  }

.scene {
  position: relative;
  height: 600px;
  width: 95%;
  margin: auto
  }

/*SCENE I*/
/*PRE-JS POSITIONG*/

#thanks_banner {
  position: relative;
  left: 80%;
  top: -10px;
  overflow: hidden; 
  width: 0px;
  }

#thanks_inside {
  width: 400px;
  height: auto;
  }

#getstart_banner {
  width: 0px;
  position: relative;
  right: 10%;
  top: 130px;
  overflow: hidden;
  }

#getstart_inside {
  position: relative;
  top: 30px;
  width: 330px;
  opacity: 0;
  overflow: hidden;
  }

#step_1_arrow {
  float: right;
  position: relative;
  top: -50px;
  }


/*SCENE II PRE-STEP1ARROW EVENT POSITIONING*/

#scene2 {
  position: relative;
  left: 100%;
  top: -680px;
}

#tutorial_banner {
  width: 0;
  position: relative;
  left: 100%;
  opacity: 0;
}

#tut_banner_inner {
  
  overflow: hidden;
  width: 20%;
  position: relative;
  left: 45%;
  
}

#tut_subhead {
  position: relative;
  top: 55px;
  width: 0%;
  height: 40px;
  overflow: hidden;
}

#tut_subhead_inner {
  font-size: 1.5em;
  width: 1260px;
}

.nav_locate_row {
  width: 20px;
  margin: 0px;
  padding: 0px;
  position: relative;
  left: 48%;
  top: -7px;
  background-color: transparent !important;
}

#nav_ex_row {
  position: relative;
  top: 60px;
}

.category_header {
  text-align: center;
  position: relative;
  top: 150px;
  border: 2px solid white;
  border-radius: 5px;
  width: 0%;
  margin: auto;
  height: 0px;
  overflow: hidden;
  opacity: 0;
  z-index: -1;
}

.popout {
  opacity: 0;
  width: 95%;
  margin: auto;
  position: relative;
  top: 15px;
}

.popout_desc {
  top: 190px !important;
  font-size: 1.3em;
}

#proj_head > .popout_desc {
  top: 210px !important;
}

.category_header > p {
  position: relative;
  top: 180px;
}

.navcolumn {
  height: 400px;
  float: left;
}

.navcolumn > .row {
  background-color: rgba(110,70,45,0.6);
  color: white;
}

.ex_nav_icon {
  width: 200px;
  height: auto;
  position: absolute;
  top: 60px;
  left: 28%;
  opacity: 0;
}

#proj_ex_icon{
  width: 160px;
  top: 80px;
  left: 30%;
}

#report_ex_icon {
  width: 150px;
  top: 80px;
  left: 34%;
}



#nav_ex_footer {
  text-align: center;
  font-size: 1.5em;
  position: relative;
  top: 100px;
  opacity: 0;
}

#next_step {
  position: relative;
  top: 130px;
  text-align: center;
  font-size: 1.3em;
  opacity: 0;
}


#step_2_arrow {

  width: 50px;
  height: auto;
  float: right;
  position: relative;
  top: -17px;
  left: -33%;
  }


#btnOpenDialog {

  background-color: transparent;
  background-image: url('./arrowright.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 55px 55px;
  border: none;
  width: 70px;
  height: 70px;
  position: relative;
  top: 85px;
  left: 65%;
  z-index: 1000000000000000;
  opacity: 0;
}

#greywindow {
  position: relative;
  top: -1350px;
  height: 800px;
  width: 100%;
  background-color: rgba(75,75,75,0.7);
  opacity: 0;
  z-index: -100;
}

#logo_nav_window {
  width: 100px;
  height: 60px;
  z-index: 1000000;
  position: relative;
}

#yarn_nav_window {
  width: 72px;
  height: 60px;
  z-index: 1000000;
  position: relative;
  top: -60px;
  left: 67.4%;
  border-radius: 5px;
}

#yarn_column_window {
  height: 400px;
  width: 23.6%;
  float: left;
  left: 1.5%;
  top: 14px;
  background-color: transparent;
}

#proj_nav_window {
  width: 70px;
  height: 60px;
  z-index: 1000000;
  position: relative;
  left: 74.1%;
  top: -120px;
  border-radius: 5px;
}

#proj_column_window {
  height: 400px;
  width: 23.6%;
  float: left;
  left: 4.6%;
  top: 13px;
  background-color: transparent;
}

#report_nav_window {
  width: 70px;
  height: 60px;
  z-index: 1000000;
  position: relative;
  left: 80.7%;
  top: -180px;
  border-radius: 5px;
}

#report_column_window {
 height: 400px;
 width: 23.6%;
 float: left;
 left: 7.72%;
 top: 14px;
 background-color: transparent;
}
