


.next_tutorial_icon {
  width: 120px;
  height: auto;

  }

.scene {
  border: 1px solid red !important;
  position: relative;
  height: 600px;
  width: 95%;
  margin: auto
  }

/*SCENE I*/
/*PRE-JS POSITIONG*/

#thanks_banner {
  position: relative;
  left: 80%;
  top: -10px;
  overflow: hidden; 
  width: 0px;
  }

#thanks_inside {
  width: 400px;
  height: auto;
  }

#getstart_banner {
  width: 0px;
  position: relative;
  right: 10%;
  top: 130px;
  overflow: hidden;
  }

#getstart_inside {
  position: relative;
  top: 30px;
  width: 330px;
  opacity: 0;
  }

#step_1_arrow {
  float: right;
  position: relative;
  top: -50px;
  }


/*SCENE II PRE-STEP1ARROW EVENT POSITIONING*/

#scene2 {
  position: relative;
  left: 100%;
  top: -620px;
}

#tutorial_banner {
  width: 0;
  float: right;
  position: relative;
}

#tut_banner_inner {
  border: 1px solid red;
  overflow: hidden;
  width: 20%;
  position: relative;
  left: 45%;
  
}

#nav_ex_row {
  position: relative;
  top: 40px;
}

.category_header {
  text-align: center;
}

.navcolumn {
  height: 400px;
  border: 1px dashed red;
}

.ex_nav_icon {
  width: 200px;
  height: auto;
  position: relative;
  left: 27%;
}

#proj_ex_icon, #report_ex_icon {
  width: 170px;
  top: 20px;
}

#report_ex_icon {
  left: 32%;
}

#nav_ex_footer {
  position: relative;
  top: 100px;
}


.nav_desc {
  position: relative;
  top: 60px;
  text-align: center;
}

#yarn_desc {
  top: 20px;
}